
<ul class="navbar-nav">
    <li class="nav-item"> <a class="nav-link" data-lte-toggle="sidebar" href="#" role="button"> <i class="bi bi-list"></i> </a> </li>
    <li class="nav-item d-none d-md-block"> <a asp-page="/Reporting/TransactionAnalysis" class="nav-link">Transaction Analysis</a> </li>
    <li class="nav-item d-none d-md-block"> <a asp-page="/Reporting/SettlementAnalysis" class="nav-link">Settlement Analysis</a> </li>
    <li class="nav-item d-none d-md-block"> <a asp-page="" class="nav-link">Merchant Analysis</a> </li>
    <li class="nav-item d-none d-md-block"> <a asp-page="" class="nav-link">Operator Analysis</a> </li>
    <li class="nav-item d-none d-md-block"> <a asp-page="" class="nav-link">Product Analysis</a> </li>
</ul> <!--end::Start Navbar Links--> <!--begin::End Navbar Links-->
