<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Feedz" value="https://f.feedz.io/transactionprocessing/nugets/nuget/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="Feedz">
      <package pattern="ClientProxyBase" />
      <package pattern="FileProcessor.Client" />
      <package pattern="MessagingService.IntegrationTesting.Helpers" />
      <package pattern="SecurityService.Client" />
      <package pattern="SecurityService.IntegrationTesting.Helpers" />
      <package pattern="Shared" />
      <package pattern="Shared.Results" />
      <package pattern="Shared.IntegrationTesting" />
      <package pattern="TransactionProcessor.Client" />
      <package pattern="TransactionProcessor.IntegrationTesting.Helpers" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="AspNetCore.HealthChecks.UI.Client" />
      <package pattern="AspNetCore.HealthChecks.Uris" />
      <package pattern="bunit.web" />
      <package pattern="coverlet.collector" />
      <package pattern="coverlet.msbuild" />
      <package pattern="IdentityModel" />
      <package pattern="Lamar" />
      <package pattern="Lamar.Microsoft.DependencyInjection" />
      <package pattern="MediatR" />
      <package pattern="Microsoft.AspNetCore.Authentication.OpenIdConnect" />
      <package pattern="Microsoft.CodeAnalysis.NetAnalyzers" />
      <package pattern="Microsoft.EntityFrameworkCore.Sqlite" />
      <package pattern="Microsoft.Extensions.Hosting.WindowsServices" />
      <package pattern="Microsoft.NET.Test.Sdk" />
      <package pattern="Microsoft.Playwright" />
      <package pattern="Microsoft.VisualStudio.Azure.Containers.Tools.Targets" />
      <package pattern="Moq" />
      <package pattern="NUnit" />
      <package pattern="NUnit3TestAdapter" />
      <package pattern="Reqnroll" />
      <package pattern="Reqnroll.NUnit" />
      <package pattern="Reqnroll.Tools.MsBuild.Generation" />
      <package pattern="Roslynator.Analyzers" />
      <package pattern="Sentry.AspNetCore" />
      <package pattern="Shouldly" />
      <package pattern="SimpleResults" />
      <package pattern="xunit.v3" />
      <package pattern="xunit.runner.visualstudio" />
    </packageSource>
  </packageSourceMapping>
  <packageSourceCredentials>
    <Feedz>
      <add key="Username" value="TestUser" />
      <add key="ClearTextPassword" value="T-jXeJSPLLjOdZvRZOQ5O2e1vrQwRI7uxC1U" />
    </Feedz>
  </packageSourceCredentials>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <bindingRedirects>
    <add key="skip" value="False" />
  </bindingRedirects>
  <packageManagement>
    <add key="format" value="0" />
    <add key="disabled" value="False" />
  </packageManagement>
</configuration>
