@using EstateManagementUI.BusinessLogic.Models
@using EstateManagementUI.BusinessLogic.PermissionService.Constants
@using EstateManagementUI.Pages.Components
@using EstateManagementUI.Pages.Shared
@using Hydro.TagHelpers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model EstateManagementUI.Pages.Merchant.MerchantDetails.MakeDeposit

@* @{
    string IsActiveTab(string tab) {
        return Model.ActiveTab == tab ? "nav-link active" : "nav-link";
    }

    string IsActiveTabPane(string tab) {
        return Model.ActiveTab == tab ? "tab-pane fade show active" : "tab-pane fade";
    }
} *@
<div class="card o-hidden border-0 shadow-sm my-5">
    <div class="card-body p-0">
            <h1 class="h4 text-gray-900 mb-4">Make Deposit for Merchant: @Model.Name</h1>
            <form hydro-on:submit="@(() => Model.Save())">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <label asp-for="Amount" class="form-label">Amount (KES)</label>
                            <input asp-for="Amount" placeholder="Enter Deposit Amount" class="form-control" x-init="$el.focus()" hydro-bind name="Amount" id="depositAmount" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label asp-for="Date" class="form-label">Date</label>
                        <input asp-for="Date" type="date" class="form-control" x-init="$el.focus()" hydro-bind name="Date" id="depositDate" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label asp-for="Reference" class="form-label">Reference</label>
                            <input asp-for="Reference" class="form-control" x-init="$el.focus()" hydro-bind name="Reference" id="depositReference" />
                        </div>
                    </div>
                    <div class="text-end">
                        <button type="submit" class="btn btn-primary" id="makeDepositButton">Make Deposit</button>
                    <button type="button" class="btn btn-outline-secondary" on:click="@(() => Model.Close())" id="closeButton">Close</button>
                    </div>
                </div>
            </form>
    </div>
</div>