@model EstateManagementUI.Pages.Operator.AddNewOperatorDialog
<div class="modal d-block init" tabindex="-1">
    <div class="modal-dialog shadow-lg" id="AddNewOperatorDialog">
        <div class="modal-content @(!Model.ModelState.IsValid ? "shake" : null)" x-init="@DateTime.Now.Ticks; @(!Model.ModelState.IsValid ? "setTimeout(() => $el.classList.remove('shake'), 300)" : null)">
            <form hydro-on:submit="@(() => Model.Save())">
                <div class="modal-header">
                    <h5 class="modal-title">New Operator</h5>
                    <button type="button" class="btn-close" aria-label="Close" hydro-action="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label asp-for="Name" class="form-label">Name</label>
                        <input asp-for="Name" placeholder="Enter Operator Name" class="form-control" x-init="$el.focus()" hydro-bind id="operatorName"/>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="RequireCustomMerchantNumber" class="form-label">Custom Merchant</label>
                        <input type="checkbox" asp-for="RequireCustomMerchantNumber" class="form-check-input" hydro-bind id="requireCustomMerchantNumber" />
                    </div>

                    <div class="mb-3">
                        <label asp-for="RequireCustomTerminalNumber" class="form-label">Custom Terminal</label>
                        <input type="checkbox" asp-for="RequireCustomTerminalNumber" class="form-check-input" hydro-bind id="requireCustomTerminalNumber" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" hydro-action="Close" id="closeButton">Close</button>
                    <button type="submit" class="btn btn-primary" id="saveNewOperatorButton">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
