@model EstateManagementUI.Pages.PermissionManagement.Roles.EditRole.EditRoleUsers

<div class="flex justify-end mb-4">
    <button class="btn btn-primary" hydro-on:click="@(() => Model.Add(@Model.Id))">
        Add user
    </button>
</div>