@using EstateManagementUI.BusinessLogic.PermissionService.Constants
@using Hydro.TagHelpers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model OperatorsList


    <div class="card o-hidden border-0 shadow-sm my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-9">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Operators</h1>
                        </div>
                        <div>
                            @if(await Model.CanRenderButton(ApplicationSections.Operator, OperatorFunctions.New)){
                                <button class="btn btn-primary" type="button" hydro-action="Add" id="newOperatorButton">
                                    New Operator
                                </button>
                            }

                        </div>

                        @if (Model.Operators.Any() == false)
                        {
                            <div class="bg-base-200 rounded text-center p-4">
                                <h6>No operators to show</h6>
                            </div>
                        }
                        else
                        {
                            <partial name="OperatorList.Table.cshtml"/>
                        }
                        
                        @if (Model.ShowDialog)
                        {
                            if (Model.OperatorId == Guid.Empty){
                                <hydro name="NewOperatorDialog" />
                            }
                            else {
                                <hydro name="EditOperatorDialog" params="@(new {OperatorId = Model.OperatorId})" />
                            }
                        }

                    </div>
                </div>
                <div class="col-lg-3" align="center">
                    <img src="~/img/applicationimages/network-image.jpg" width="250px" height="250px"/>
                </div>
            </div>
        </div>
    </div>
