@model EstateManagementUI.Pages.Contract.Contract.ViewContract

<div class="card o-hidden border-0 shadow-sm my-5">
    <div class="card-body p-0">
        <h1 class="h4 text-gray-900 mb-4">View Contract: @Model.Name</h1>
        <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <label asp-for="Name" class="form-label">Name</label>
                        <input asp-for="Name" class="form-control" readonly x-init="$el.focus()" hydro-bind name="Name" id="contractName" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label asp-for="OperatorName"></label>
                        <input asp-for="OperatorName" class="form-control" readonly x-init="$el.focus()" hydro-bind name="OperatorName" id="operatorNameName" />
                    </div>
                </div>
                <div class="text-end">
                    <button type="button" class="btn btn-outline-secondary" hydro-action="Close" id="closeButton">Close</button>
                </div>
            </div>
    </div>
</div>