@model EstateManagementUI.Pages.Estate.UsersList

<table class="table table-sm">
    <thead>
    <tr>
        <th class="w-40">Email Address</th>
        <th class="w-12"></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var userModel in Model.Users)
    {
        <tr class="hover">
            <td>
                @* <a href="#" hydro-on:click="@(() => Model.Edit(product.Id))" class="link link-hover"> *@
                    @userModel.EmailAddress
                @*     <span class="spinner-border spinner-border-sm spinner" aria-hidden="true"></span>
                </a> *@
            </td>

            

            @* <td class="align-middle text-end">
                @{
                    var menuItems = new TableDropdownItem[]
                    {
                        new("Edit", () => Model.Edit(product.Id))
                    };
                }

                <partial name="TableDropdown" model="@menuItems" />
            </td> *@
        </tr>
    }
    </tbody>
</table>