@model MerchantsList

    <div class="card o-hidden border-0 shadow-sm my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-9">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Merchants</h1>
                        </div>
                    <div>

                        <button class="btn btn-primary" type="button" hydro-action="Add" id="newMerchantButton">
                            New Merchant
                        </button>
                    </div>
                        @if (Model.Merchants.Any() == false)
                        {
                            <div class="bg-base-200 rounded text-center p-4">
                                <h6>No merchants to show</h6>
                            </div>
                        }
                        else
                        {
                            <partial name="MerchantList.Table.cshtml"/>
                        }

                    @* @if (Model.ShowDialog)
                    {
                        if (Model.MerchantId == Guid.Empty)
                        {
                            <hydro name="NewMerchantDialog" />
                        }
                         else
                        {
                            <hydro name="EditMerchantDialog" params="@(new {MerchantId= Model.MerchantId})" />
                        } 
                    } *@
                    </div>
                </div>
                <div class="col-lg-3" align="center">
                    <img src="~/img/applicationimages/network-image.jpg" width="250px" height="250px"/>
                </div>
            </div>
        </div>
    </div>
