@model FileDetails

<div class="card o-hidden border-0 shadow-sm my-5">
    <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
            <div class="col-lg-9">
                <div class="p-5">
                    <div class="text-center">
                        <h1 class="h4 text-gray-900 mb-4">File Lines for File Name: @Model.FileName</h1>
                    </div>
                    <div class="text-center">
                        <h2 class="h4 text-gray-900 mb-4">File Profile: @Model.FileProfile</h2>
                        <h2 class="h4 text-gray-900 mb-4">Merchant: @Model.MerchantName</h2>
                        <h2 class="h4 text-gray-900 mb-4">Uploaded By: @Model.UploadedBy</h2>
                    </div>
                    

                    @if (Model.FileLines.Any() == false)
                    {
                        <div class="bg-base-200 rounded text-center p-4">
                            <h6>No file lines to show</h6>
                        </div>
                    }
                    else
                    {
                        <partial name="FileDetails.Table.cshtml"/>
                    }
                </div>
            </div>
            <div class="col-lg-3" align="center">
                <img src="~/img/applicationimages/network-image.jpg" width="250px" height="250px"/>
            </div>
        </div>
    </div>
</div>
