@using EstateManagementUI.BusinessLogic.Clients
@using EstateManagementUI.BusinessLogic.PermissionService
@using EstateManagementUI.Pages.Services
@using global::Shared.Logger
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using SimpleResults
@inject IPermissionsService PermissionsService
@inject NavigationService NavigationService

<ul class="nav sidebar-menu flex-column" data-lte-toggle="treeview" role="menu" data-accordion="false">
<li class="nav-item menu-open">
    @{
        await NavigationService.RenderItem(User.Identity.Name,"Dashboard", "Dashboard", "dashboardLink");
        await NavigationService.RenderItem(User.Identity.Name, "My Estate", "Estate", "estateDetailsLink");
        await NavigationService.RenderItem(User.Identity.Name, "My Merchants", "Merchant", "merchantsLink");
        await NavigationService.RenderItem(User.Identity.Name, "My Contracts", "Contract", "contractsLink");
        await NavigationService.RenderItem(User.Identity.Name, "My Operators", "Operator", "operatorsLink");
        await NavigationService.RenderItem(User.Identity.Name, "Reports", "Reporting", "reportingLink");
        await NavigationService.RenderItem(User.Identity.Name, "File Processing", "FileProcessing", "fileProcessingLink");
    }
</li>
</ul>
